USE [master]
GO
/****** Object:  Table [dbo].[Language_rankings]    Script Date: 01-07-2023 16:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language_rankings](
	[Rank] [varchar](50) NULL,
	[Programming_Language] [varchar](50) NULL
) ON [PRIMARY]
GO
