USE [master]
GO
/****** Object:  Table [dbo].[Github_mobile_stats]    Script Date: 01-07-2023 12:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Github_mobile_stats](
	[Key_stat] [varchar](50) NULL,
	[Android] [varchar](50) NULL,
	[iOS] [varchar](50) NULL
) ON [PRIMARY]
GO
